.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* centers horizontally */
  justify-content: center;
  /* centers vertically if you set height */
  min-height: 100vh;
  /* optional: full page vertical centering */
}

.login-page input {
  display: block;
  width: 300px;
  padding: 0.75rem 1rem;
  /* same left & right padding for all */
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  box-sizing: border-box;
  /* includes padding in width */
  margin-bottom: 1rem;
  /* even spacing */
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.login-button {
  color: white;
  background-color: #2563eb;
}

.login-button:hover {
  background-color: #9333EA;
  transform: scale(1.05);
}

.google-logo {
  height: 42px;
  width: 165px;
  margin-right: 8px;
  cursor: pointer;
}

.google-logo:hover {
  transform: scale(1.05);
}