.home-page-container {
  flex: 1;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-lookup {
  background-color: #2563eb;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* subtle shadow */
  border: none;
  /* optional: remove default button border */
  color: white;
  /* make text visible */
  border-radius: 20px;
  width: 10rem;
  height: 60px;
}

.button-lookup:hover {
  background-color: #9333EA;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  /* slightly larger shadow on hover */
}

.input-home-page {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid grey,
}