.home-page-container {
  flex: 1;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  opacity: 0;
  /* start invisible */
  transform: translateY(20px);
  /* slide up effect */
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* smooth fade/slide */
}

.home-page-container.show {
  opacity: 1;
  transform: translateY(0);
}

/* Lookup button */
.button-lookup {
  background-color: #2563eb;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, opacity 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  border-radius: 20px;
  width: 10rem;
  height: 60px;
}

/* Hover effect */
.button-lookup:hover {
  background-color: #9333EA;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Active / click fade effect */
.button-lookup:active {
  opacity: 0.6;
  /* quick fade */
  transform: scale(0.95);
  /* subtle press animation */
}

/* Input field */
.input-home-page {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid grey;
  border-radius: 20px;
  height: 60px;
  width: 50rem;
  padding: 0 1rem;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

.input-home-page:focus {
  outline: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border-color: #2563eb;
}

.date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  gap: 10px;
}

.search-form input {
  background-color: white;
  color: black;
}

.date-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  /* makes it black if background is light */
  cursor: pointer;
}

.date-input {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 60px;
  border-radius: 20px;
  cursor: pointer;
}

.date-input:hover {
  transform: scale(1.05);
}